.page-link {
    border-radius: 50% !important;
    background: #d8d8d8 !important;
    border: 1px solid #d8d8d8 !important;
    margin-right: 5px !important;
    color: #000;
}
.page-item.active .page-link {
    background: #3a923a !important;
}
input.input-date {
    position: relative;
    width: 100%;
    height: 38px;
    color: white;
    padding-left: 50px;
}

input.input-date:before {
    position: absolute;
    top: 6px;
    left: 30px;
    content: attr(data-date);
    display: inline-block;
    color: black;
}

input.input-date::-webkit-datetime-edit,
input.input-date::-webkit-inner-spin-button,
input.input-date::-webkit-clear-button {
    display: none;
}

input.input-date::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

