/* .table {
    margin-bottom: 0px !important;
    width: max-content;
    white-space: nowrap;
    font-size: 14px;
} */

.btn-success {
    background-color: #54B435 !important;
    border-color: #54B435  !important;
}

.btn-warning {
    background-color: #EBB701 !important;
    border-color: #EBB701  !important;
}

.btn-outline-success {
    border: 1px solid #54B435 !important;
    color: #54B435 !important;
}

.btn-outline-success:hover {
    background-color: #54B435 !important;
    color: white !important;
}

.btn-outline-danger {
    border: 1px solid #F31111 !important;
    color: #F31111 !important;
}

.btn-outline-danger:hover {
    background-color: #F31111 !important;
    color: white !important;
}

.btn-outline-secondary {
    border: 1px solid #dbdbdb !important;
}

#select2-job-title-container,
#select2-treeview-select-search-container,
#select2-status-container {
    font-size: 14px;
}

#tbody-scroll {
    height: 100%;
    overflow: auto;
}

.custom-toggle::after {
    display: none !important;
}

.page-link {
    border-radius: 50% !important;
    background: #d8d8d8 !important;
    border: 1px solid #d8d8d8 !important;
    margin-right: 5px !important;
    color: #000;
}

.custom-image {
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.custom-pagination {
    padding: 15px;
}

.pagination {
    margin-bottom: 0px;
}
/*
.table > thead > tr th {
    background-color: #e4f0e6;
} */

.input-search-text {
    max-width: 200px;
    padding-left: 0px !important;
}

.select2-container--default .select2-selection--single {
    border: 1px solid #dbdbdb;
}

.custom-pagination {
    border: 1px solid #d2dcd2;
    border-top: none;
}

@media only screen and (min-width: 1268px) {
    .table-responsive {
        /* border: 1px solid #d2dcd2; */
        border-bottom: none;
        border-top: none;
    }
}

@media only screen and (max-width: 768px) {
    .filter {
        flex-direction: column;
    }

    .filter-name {
        max-width: 100% !important;
        padding-right: 0px !important;
    }

    .filter > div {
        margin-bottom: 10px;
        padding: 0;
    }

    .hidden-text {
        font-size: 0;
    }

    .btn-add-custom {
        padding: 0 !important;
    }

    .pagination {
        flex-wrap: wrap;
    }

    /* .parent-filter {
        flex-direction: column;
    } */
}

@media only screen and (max-width: 1200px) {
    .parent-filter {
        flex-direction: column;
    }
}

/* Custom checkbox */
/* .checkbox-wrapper {
    margin-bottom: 10px;
} */

.checkbox-wrapper input[type="checkbox"] {
    display: none;
}

.checkbox-wrapper label {
    display: inline-block;
    padding-left: 25px;
    position: relative;
    cursor: pointer;
}

.checkbox-wrapper label:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 2px solid #ccc;
    position: absolute;
    left: 50%;
    top: -5px;
}

.checkbox-wrapper input[type="checkbox"]:checked + label:before {
    background-color: #337ab7;
    /* Màu sắc khi checkbox được chọn */
    border-color: #337ab7;
}

.checkbox-wrapper label:after {
    content: "";
    display: none;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    position: absolute;
    left: 18px;
    top: -3px;
}

.checkbox-wrapper input[type="checkbox"]:checked + label:after {
    display: block;
}

.checkbox-list {
    list-style-type: none;
    padding: 0;
}

.checkbox-list div {
    margin-bottom: 10px;
}

.checkbox-list input[type="checkbox"] {
    display: none;
}

.checkbox-list label {
    display: inline-block;
    padding-left: 25px;
    position: relative;
    cursor: pointer;
}

.checkbox-list label:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 2px solid #ccc;
    position: absolute;
    left: 50%;
    top: 0px;
}

.checkbox-list input[type="checkbox"]:checked + label:before {
    background-color: #337ab7;
    /* Màu sắc khi checkbox được chọn */
    border-color: #337ab7;
}

.checkbox-list label:after {
    content: "";
    display: none;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    position: absolute;
    left: 18px;
    top: 2px;
}

.checkbox-list input[type="checkbox"]:checked + label:after {
    display: block;
}

#contractTable th {
    width: auto !important;
}

#limit {
    padding: 0.5rem 0rem !important;
}
.dropdowm-filter {
    padding-left: 10px !important;
}
.custom-border {
    border: 1px solid #ced4da !important;
}
.is-challenge {
    color: #ffd700;
    position: absolute;
    right: 10px;
    top: 0px;
}
.employee {
    position: relative;
}

.input-group-addon {
    width: 40px;
    border: 1px solid #dbdbdb;
    background: #dbdbdb;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 0 !important;
}

.status-green{
    padding: 2px 8px;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #EFFFF2;
    color: #54B435;
    border-radius: 16px;
}

.status-violet{
    background-color: #F0ECFA;
    color: #8638E5;
    border-radius: 16px;
    padding: 2px 8px;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.status-gray{
    padding: 2px 8px;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #ECEFF0;
    color: #667085;
    border-radius: 16px;
}
.status-red{
    padding: 2px 8px;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #FFE1E1;
    color: #FF4D4D;
    border-radius: 16px;
}
.status-blue{
    padding: 2px 8px;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #F3FCFF;
    color: #387BFF;
    border-radius: 16px;
}
.status-yellow{
    padding: 2px 8px;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #FFF3D6;
    color: #ECAB12;
    border-radius: 16px;
}
.btn-cancel{
    background-color: white !important;
    color: #379237 !important;
    border-color: #379237 !important;
}

.btn-cancel:hover{
    background-color: #379237 !important;
    color: white !important;
}

.btn-reject{
    background-color: white !important;
    color: #F31111 !important;
    border-color: #F31111 !important;
}

.btn-reject:hover{
    background-color: #F31111 !important;
    color: white !important;
}

.btn-transition{
    background-color: #4090BD !important;
    color: white !important;
}

.btn-detail{
    background-color: #FFF !important;
    color: #101828 !important;
}

.page-item.active .page-link {
    background: #3a923a !important;
}

.table>thead>tr th {
    background-color: #e4f0e6;
}
.table>tbody>tr td {
    background-color: white;
}
